
<div class="center jumbotron">
  <h1>Chưa có nội dung</h1>
</div>


<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1349px;">
  <div class="owl-item active" style="width: 192.667px;">
    <div class="dItem">
      <a href="https://www.vntrip.vn/cam-nang/du-lich-binh-dinh/du-lich-quy-nhon" class="imgCity">
        <img src="https://cdn.vntrip.vn/cam-nang/wp-content/themes/vntrip_blog_desktop_v2/assets/images/imgCity.jpg" alt="imgCity">
        <h4 class="heading4">Quy Nhơn</h4>
      </a>
    </div>
  </div>
  <div class="owl-item active" style="width: 192.667px;">
    <div class="dItem">
      <a href="https://www.vntrip.vn/cam-nang/du-lich-quang-ninh/ha-long" class="imgCity">
         <img src="https://cdn.vntrip.vn/cam-nang/wp-content/themes/vntrip_blog_desktop_v2/assets/images/imgCity2.jpg" alt="imgCity">
         <h4 class="heading4">Hạ Long</h4>
       </a>
     </div>
   </div>
   <div class="owl-item active" style="width: 192.667px;">
     <div class="dItem">
       <a href="https://www.vntrip.vn/cam-nang/du-lich-tp-ho-chi-minh" class="imgCity">
         <img src="https://cdn.vntrip.vn/cam-nang/wp-content/themes/vntrip_blog_desktop_v2/assets/images/imgCity3.jpg" alt="imgCity">
         <h4 class="heading4">Sài Gòn</h4>
        </a>
      </div>
    </div>
    <div class="owl-item active" style="width: 192.667px;">
      <div class="dItem">
        <a href="https://www.vntrip.vn/cam-nang/du-lich-lam-dong/da-lat" class="imgCity">
          <img src="https://cdn.vntrip.vn/cam-nang/wp-content/themes/vntrip_blog_desktop_v2/assets/images/imgCity2.jpg" alt="imgCity">
          <h4 class="heading4">Đà Lạt</h4>
         </a>
       </div>
     </div>
