<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
    <div class="homepage-block-inner-title-wrapper homepage-block-title homepage-block-title1_9 homepage-block-title33">
      <a class="homepage-block-inner-title" href="/index.php/cat/33">Liên kết, hành động để phát triển du lịch</a>
      <div class="homepage-block-inner-seemore-wrapper">
        <a href="/index.php/cat/33" class="homepage-block-inner-seemore">xem tiếp</a>
      </div>
    </div>
    <div class="row">
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12">
    <div class="homepage-block-inner-title-wrapper homepage-block-title homepage-block-title1_12 homepage-block-title3304">
      <a class="homepage-block-inner-title" href="/index.php/cat/3304">Các chương trình liên kết</a>
    </div>
    <div class="row">
      <div class="homepage-block-inner-content col-lg-12 col-md-12 col-sm-12 col-12 display-type-12">
        <div class="block-item-wrapper">
          <div class="block-item-title-wrapper">
            <a href="https://vietnamtourism.gov.vn/index.php/items/35052" title="“Khẳng định vai trò điều phối của Tổng cục Du lịch trong liên kết phát triển du lịch trong tình hình mới”">
              <div class="img-type-wrapper image lazyload" style="background-image:url('https://image.vietnamtourism.gov.vn/resources/smallSize/images/2020/Thang_12/HoinghiThoidiemvang.jpg'">
              </div>
            </a>
            <a href="https://vietnamtourism.gov.vn/index.php/items/35052" title="“Khẳng định vai trò điều phối của Tổng cục Du lịch trong liên kết phát triển du lịch trong tình hình mới”" class="block-item-title d-xl-block d-lg-block d-md-none d-sm-none d-none">“Khẳng định vai trò điều phối của Tổng cục Du lịch trong liên  ... </a>
            <a href="https://vietnamtourism.gov.vn/index.php/items/35052" title="“Khẳng định vai trò điều phối của Tổng cục Du lịch trong liên kết phát triển du lịch trong tình hình mới”" class="block-item-title d-xl-none d-lg-none d-md-block">“Khẳng định vai trò điều phối của Tổng cục Du lịch trong liên kết phát triển du lịch trong tình hình mới”</a>
          </div>
          <div class="block-item-summary">
            <div class="titc-img-holder">
              <img src="https://vietnamtourism.gov.vn/application/views/2019/images/titc.png" class="titc-id-img">
            </div> – Tại Hội nghị toàn quốc về du lịch diễn ra ngày 28/11/2020 ở tỉnh Quảng Nam dưới sự  ...
          </div>
        </div>
      </div>
      <div class="homepage-block-inner-content col-lg-12 col-md-12 col-sm-12 col-12 display-type-12">
        <div class="block-item-wrapper">
          <div class="block-item-title-wrapper">
            <a href="https://vietnamtourism.gov.vn/index.php/items/34944" title="Hội nghị toàn quốc về du lịch: Tổng cục Du lịch phát huy vai trò điều phối triển khai kích cầu, thúc đẩy phục hồi du lịch" class="block-item-title d-xl-block d-lg-block d-md-none d-sm-none d-none">Hội nghị toàn quốc về du lịch: Tổng cục Du lịch phát huy  ... </a>
            <a href="https://vietnamtourism.gov.vn/index.php/items/34944" title="Hội nghị toàn quốc về du lịch: Tổng cục Du lịch phát huy vai trò điều phối triển khai kích cầu, thúc đẩy phục hồi du lịch" class="block-item-title d-xl-none d-lg-none d-md-block">Hội nghị toàn quốc về du lịch: Tổng cục Du lịch phát huy vai trò điều phối triển khai kích cầu, thúc đẩy phục hồi du lịch</a>
          </div>
        </div>
      </div>
      <div class="homepage-block-inner-content col-lg-12 col-md-12 col-sm-12 col-12 display-type-12">
        <div class="block-item-wrapper">
          <div class="block-item-title-wrapper">
            <a href="https://vietnamtourism.gov.vn/index.php/items/34938" title="Hội nghị Tổng kết đánh giá chương trình hợp tác phát triển du lịch 8 tỉnh Tây Bắc mở rộng giai đoạn 2010-2020 và triển khai hoạt động hợp tác năm 2021" class="block-item-title d-xl-block d-lg-block d-md-none d-sm-none d-none">Hội nghị Tổng kết đánh giá chương trình hợp tác phát triển du  ... </a>
            <a href="https://vietnamtourism.gov.vn/index.php/items/34938" title="Hội nghị Tổng kết đánh giá chương trình hợp tác phát triển du lịch 8 tỉnh Tây Bắc mở rộng giai đoạn 2010-2020 và triển khai hoạt động hợp tác năm 2021" class="block-item-title d-xl-none d-lg-none d-md-block">Hội nghị Tổng kết đánh giá chương trình hợp tác phát triển du lịch 8 tỉnh Tây Bắc mở rộng giai đoạn 2010-2020 và triển khai hoạt động hợp tác năm 2021</a></div></div></div></div></div>		<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12">
              <div class="homepage-block-inner-title-wrapper homepage-block-title homepage-block-title1_12 homepage-block-title3303">
                <a class="homepage-block-inner-title" href="/index.php/cat/3303">Chính sách &amp; Hành động</a>
              </div>
              <div class="row">
                <div class="homepage-block-inner-content col-lg-12 col-md-12 col-sm-12 col-12 display-type-12">
                  <div class="block-item-wrapper">
                    <div class="block-item-title-wrapper">
                      <a href="https://vietnamtourism.gov.vn/index.php/items/35269" title="Bộ VHTTDL yêu cầu các địa phương triển khai các biện pháp an toàn phòng, chống dịch Covid-19 trong lĩnh vực văn hóa, thể thao, du lịch">
                        <div class="img-type-wrapper image lazyload" style="background-image:url('https://image.vietnamtourism.gov.vn/resources/smallSize/images/2021/PhongchongCovid19-HN.jpg'">
                        </div>
                      </a>
                      <a href="https://vietnamtourism.gov.vn/index.php/items/35269" title="Bộ VHTTDL yêu cầu các địa phương triển khai các biện pháp an toàn phòng, chống dịch Covid-19 trong lĩnh vực văn hóa, thể thao, du lịch" class="block-item-title d-xl-block d-lg-block d-md-none d-sm-none d-none">Bộ VHTTDL yêu cầu các địa phương triển khai các biện pháp an  ... </a>
                      <a href="https://vietnamtourism.gov.vn/index.php/items/35269" title="Bộ VHTTDL yêu cầu các địa phương triển khai các biện pháp an toàn phòng, chống dịch Covid-19 trong lĩnh vực văn hóa, thể thao, du lịch" class="block-item-title d-xl-none d-lg-none d-md-block">Bộ VHTTDL yêu cầu các địa phương triển khai các biện pháp an toàn phòng, chống dịch Covid-19 trong lĩnh vực văn hóa, thể thao, du lịch</a>
                    </div>
                    <div class="block-item-summary">
                      <div class="titc-img-holder">
                        <img src="https://vietnamtourism.gov.vn/application/views/2019/images/titc.png" class="titc-id-img">
                      </div> – Ngày 31/12/2020, Bộ Văn hóa, Thể thao và Du lịch đã ban hành văn bản số 5050/BVHTTDL-VHCS đề  ...
                    </div>
                  </div>
                </div>
                <div class="homepage-block-inner-content col-lg-12 col-md-12 col-sm-12 col-12 display-type-12">
                  <div class="block-item-wrapper">
                    <div class="block-item-title-wrapper">
                      <a href="https://vietnamtourism.gov.vn/index.php/items/35261" title="Giảm 50% phí thẩm định cấp giấy phép kinh doanh dịch vụ lữ hành quốc tế, lữ hành nội địa và thẻ hướng dẫn viên du lịch đến hết 30/6/2021" class="block-item-title d-xl-block d-lg-block d-md-none d-sm-none d-none">Giảm 50% phí thẩm định cấp giấy phép kinh doanh dịch vụ lữ  ... </a>
                      <a href="https://vietnamtourism.gov.vn/index.php/items/35261" title="Giảm 50% phí thẩm định cấp giấy phép kinh doanh dịch vụ lữ hành quốc tế, lữ hành nội địa và thẻ hướng dẫn viên du lịch đến hết 30/6/2021" class="block-item-title d-xl-none d-lg-none d-md-block">Giảm 50% phí thẩm định cấp giấy phép kinh doanh dịch vụ lữ hành quốc tế, lữ hành nội địa và thẻ hướng dẫn viên du lịch đến hết 30/6/2021</a>
                    </div>
                  </div>
                </div>
                <div class="homepage-block-inner-content col-lg-12 col-md-12 col-sm-12 col-12 display-type-12">
                  <div class="block-item-wrapper">
                    <div class="block-item-title-wrapper">
                    <a href="https://vietnamtourism.gov.vn/index.php/items/35127" title="Chính phủ ban hành Nghị quyết về hỗ trợ giảm giá điện, giảm tiền điện đợt 2" class="block-item-title d-xl-block d-lg-block d-md-none d-sm-none d-none">Chính phủ ban hành Nghị quyết về hỗ trợ giảm giá điện, giảm  ... </a>
                    <a href="https://vietnamtourism.gov.vn/index.php/items/35127" title="Chính phủ ban hành Nghị quyết về hỗ trợ giảm giá điện, giảm tiền điện đợt 2" class="block-item-title d-xl-none d-lg-none d-md-block">Chính phủ ban hành Nghị quyết về hỗ trợ giảm giá điện, giảm tiền điện đợt 2</a>
                  </div>
                 </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12">
            <div class="homepage-block-inner-title-wrapper homepage-block-title homepage-block-title1_12 homepage-block-title3301">
              <a class="homepage-block-inner-title" href="/index.php/cat/3301">Sản phẩm &amp; Điểm đến</a>
            </div>
            <div class="row">
              <div class="homepage-block-inner-content col-lg-12 col-md-12 col-sm-12 col-12 display-type-12">
                <div class="block-item-wrapper">
                  <div class="block-item-title-wrapper">
                    <a href="https://vietnamtourism.gov.vn/index.php/items/35284" title="Làng cổ bên sông Cầu">
                      <div class="img-type-wrapper image lazyload" style="background-image:url('https://image.vietnamtourism.gov.vn/resources/smallSize/images/2021/CNMN/07.01._Lang_Co_ben_song_Cau_1.jpg'">
                      </div>
                    </a>
                    <a href="https://vietnamtourism.gov.vn/index.php/items/35284" title="Làng cổ bên sông Cầu" class="block-item-title d-xl-block d-lg-block d-md-none d-sm-none d-none">Làng cổ bên sông Cầu</a>
                    <a href="https://vietnamtourism.gov.vn/index.php/items/35284" title="Làng cổ bên sông Cầu" class="block-item-title d-xl-none d-lg-none d-md-block">Làng cổ bên sông Cầu</a>
                  </div>
                  <div class="block-item-summary">"Sông Cầu nước chảy lơ thơ" đã đi vào câu ca quen thuộc một thời của vùng Kinh Bắc. Dòng  ... </div>
                </div>
              </div>
              <div class="homepage-block-inner-content col-lg-12 col-md-12 col-sm-12 col-12 display-type-12">
                <div class="block-item-wrapper">
                  <div class="block-item-title-wrapper">
                    <a href="https://vietnamtourism.gov.vn/index.php/items/35281" title="Vĩnh Long: Bồng bềnh sóng nước sông Hậu khám phá miệt vườn cù lao Mây " class="block-item-title d-xl-block d-lg-block d-md-none d-sm-none d-none">Vĩnh Long: Bồng bềnh sóng nước sông Hậu khám phá miệt vườn cù  ... </a>
                    <a href="https://vietnamtourism.gov.vn/index.php/items/35281" title="Vĩnh Long: Bồng bềnh sóng nước sông Hậu khám phá miệt vườn cù lao Mây " class="block-item-title d-xl-none d-lg-none d-md-block">Vĩnh Long: Bồng bềnh sóng nước sông Hậu khám phá miệt vườn cù lao Mây </a>
                  </div>
                </div>
              </div>
              <div class="homepage-block-inner-content col-lg-12 col-md-12 col-sm-12 col-12 display-type-12">
                <div class="block-item-wrapper">
                  <div class="block-item-title-wrapper">
                    <a href="https://vietnamtourism.gov.vn/index.php/items/35270" title="Thưởng thức mùa đông trong lòng Lan Hạ từ Du thuyền Indochine" class="block-item-title d-xl-block d-lg-block d-md-none d-sm-none d-none">Thưởng thức mùa đông trong lòng Lan Hạ từ Du thuyền Indochine</a>
                    <a href="https://vietnamtourism.gov.vn/index.php/items/35270" title="Thưởng thức mùa đông trong lòng Lan Hạ từ Du thuyền Indochine" class="block-item-title d-xl-none d-lg-none d-md-block">Thưởng thức mùa đông trong lòng Lan Hạ từ Du thuyền Indochine</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>
