<img class="bg"src="../assets/background.png">
<div class="blkx">
  <div class="blk1">
    <div class="blk">
      <a class="agpl" href="#">
        <div class="w-search">
          <span class="plc"><img class="iconp"src="../assets/hanoi.png" alt="hanoi"></span>
          <span class="plc">
            <span class="pnt1"><b>Hà Nội</b></span>
            <span class="pnt">15 phút lái xe</span>
          </span>
        </div>
      </a>
    </div>
    <div class="blk">
      <a class="agpl" href="#">
        <div class="w-search">
          <span class="plc"><img class="iconp"src="../assets/nb.png" alt="hanoi"></span>
          <span class="plc">
            <span class="pnt1"><b>Thành Phố Ninh Bình</b></span>
            <span class="pnt">1.5 giờ lái xe</span>
          </span>
        </div>
      </a>
    </div>
    <div class="blk">
      <a class="agpl" href="#">
        <div class="w-search">
          <span class="plc"><img class="iconp"src="../assets/mc.png" alt="hanoi"></span>
          <span class="plc">
            <span class="pnt1"><b>Thành phố Móng Cái</b></span>
            <span class="pnt">4.5 giờ lái xe</span>
          </span>
        </div>
      </a>
    </div>
    <div class="blk">
      <a class="agpl" href="#">
        <div class="w-search">
          <span class="plc"><img class="iconp"src="../assets/dh.png" alt="hanoi"></span>
          <span class="plc">
            <span class="pnt1"><b>Thành phố Đồng Hới</b></span>
            <span class="pnt">6.5 giờ lái xe</span>
          </span>
        </div>
      </a>
    </div>
  </div>
  <div class="blk2">
    <div class="blk">
      <a class="agpl" href="#">
        <div class="w-search">
          <span class="plc"><img class="iconp"src="../assets/hg.png" alt="hanoi"></span>
          <span class="plc">
            <span class="pnt1"><b>Thành phố Hà Giang</b></span>
            <span class="pnt">4 giờ lái xe</span>
          </span>
        </div>
      </a>
    </div>
    <div class="blk">
      <a class="agpl" href="#">
        <div class="w-search">
          <span class="plc"><img class="iconp"src="../assets/st.png" alt="hanoi"></span>
          <span class="plc">
            <span class="pnt1"><b>Thị xã Sơn Tây</b></span>
            <span class="pnt">45 phút lái xe</span>
          </span>
        </div>
      </a>
    </div>
    <div class="blk">
      <a class="agpl" href="#">
        <div class="w-search">
          <span class="plc"><img class="iconp"src="../assets/th.png" alt="hanoi"></span>
          <span class="plc">
            <span class="pnt1"><b>Thành phố Thanh Hóa</b></span>
            <span class="pnt">2 giờ lái xe</span>
          </span>
        </div>
      </a>
    </div>
    <div class="blk">
      <a class="agpl" href="#">
        <div class="w-search">
          <span class="plc"><img class="iconp"src="../assets/hd.png" alt="hanoi"></span>
          <span class="plc">
            <span class="pnt1"><b>Thành phố Hải Dương</b></span>
            <span class="pnt">1 giờ lái xe</span>
          </span>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="obk-dau">
  <div class="m-odau">
    <span class="odau">Ở bất cứ đâu</span>
  </div>
  <div class="e-where">
    <a class="e-where-i" href="#">
      <div class="house">
        <span class="ihouse"><img class="iconh"src="../assets/tbnha.png" alt="hanoi"></span>
        <span class="pnt3"><b>Toàn bộ nhà</b></span>
      </div>
    </a>
    <a class="e-where-i" href="#">
      <div class="house">
        <span class="ihouse"><img class="iconh"src="../assets/cabin.png" alt="hanoi"></span>
        <span class="pnt3"><b>Cabin & nhà nghỉ thôn dã</b></span>
      </div>
    </a>
    <a class="e-where-i" href="#">
      <div class="house">
        <span class="ihouse"><img class="iconh"src="../assets/ddao.png" alt="hanoi"></span>
        <span class="pnt3"><b>Chỗ ở độc đáo</b></span>
      </div>
    </a>
    <a class="e-where-i" href="#">
      <div class="house">
        <span class="ihouse"><img class="iconh"src="../assets/pet.png" alt="hanoi"></span>
        <span class="pnt3"><b>Thú cưng được chào đón</b></span>
      </div>
    </a>
  </div>
</div>

<div class="obk-dau">
  <div class="m-odau">
    <span class="odau">Tham gia cùng hàng triệu chủ nhà/người tổ chức trên Airbnb</span>
  </div>
  <div class="join">
    <a class="join-i" href="#">
      <div class="housei">
        <span class="ihouse"><img class="iconh"src="../assets/rent.png" alt="hanoi"></span>
        <span class="pnt2"><b>Cho thuê nhà</b></span>
      </div>
    </a>
    <a class="join-i" href="#">
      <div class="housei">
        <span class="ihouse"><img class="iconh"src="../assets/cook.png" alt="hanoi"></span>
        <span class="pnt2"><b>Tổ chức trải nghiệm trực tuyến</b></span>
      </div>
    </a>
    <a class="join-i" href="#">
      <div class="housei">
        <span class="ihouse"><img class="iconh"src="../assets/famer.png" alt="hanoi"></span>
        <span class="pnt2"><b>Tổ chức trải nghiệm</b></span>
      </div>
    </a>
  </div>
</div>
