<img class="bg"src="../assets/background.png">
<div class="owl-stage">
  <div class="owl-item active">
    <div class="dItem">
      <a href="https://www.vntrip.vn/cam-nang/du-lich-binh-dinh/du-lich-quy-nhon" class="imgCity">
        <img src="https://cdn.vntrip.vn/cam-nang/wp-content/themes/vntrip_blog_desktop_v2/assets/images/imgCity.jpg" alt="imgCity">
        <h4 class="heading4">Quy Nhơn</h4>
      </a>
    </div>
  </div>
  <div class="owl-item active">
    <div class="dItem">
      <a href="https://www.vntrip.vn/cam-nang/du-lich-quang-ninh/ha-long" class="imgCity">
         <img src="https://cdn.vntrip.vn/cam-nang/wp-content/themes/vntrip_blog_desktop_v2/assets/images/imgCity2.jpg" alt="imgCity">
         <h4 class="heading4">Hạ Long</h4>
       </a>
     </div>
   </div>
   <div class="owl-item active">
     <div class="dItem">
       <a href="https://www.vntrip.vn/cam-nang/du-lich-tp-ho-chi-minh" class="imgCity">
         <img src="https://cdn.vntrip.vn/cam-nang/wp-content/themes/vntrip_blog_desktop_v2/assets/images/imgCity3.jpg" alt="imgCity">
         <h4 class="heading4">Sài Gòn</h4>
        </a>
      </div>
    </div>
    <div class="owl-item active">
      <div class="dItem">
        <a href="https://www.vntrip.vn/cam-nang/du-lich-lam-dong/da-lat" class="imgCity">
          <img src="https://cdn.vntrip.vn/cam-nang/wp-content/themes/vntrip_blog_desktop_v2/assets/images/imgCity2.jpg" alt="imgCity">
          <h4 class="heading4">Đà Lạt</h4>
         </a>
       </div>
     </div>
</div>
