<% provide(:title, @user.name) %>
<div class="hang_cot">
  <aside class="col-lg-6">
    <section class="user_info">
      <div class="tk">Tài khoản</div>
      <span class="name_user"><%= @user.name%></span>
      <span class= "email_user"><%= @user.email%></span>
      <span><%=link_to "Truy cập hồ sơ",'#'%></span>
    </section>
  </aside>
</div>

<div class="bao9hop">
<div class="hop9">
  <div class="hang_cot">

    <div class="<hopto">
      <a class="hopnho" href="#">
      <div style="margin-bottom: 16px;">
        <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 32px; width: 32px; display: block; fill: rgb(96, 182, 181);">
          <img src="https://www.flaticon.com/svg/static/icons/svg/1828/1828413.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        </svg>
      </div>
      <span class="title">Thông tin cá nhân.</span>
      <div class="noidung">Cung cấp thông tin cá nhân và cách chúng tôi có thể liên hệ với bạn.</div>
      </a>
    </div>

    <div class="<hopto">
      <a class="hopnho" href="#">
      <div style="margin-bottom: 16px;">
        <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 32px; width: 32px; display: block; fill: rgb(96, 182, 181);">
          <img src="https://www.flaticon.com/svg/static/icons/svg/3077/3077176.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        </svg>
      </div>
      <span class="title">Đăng nhập và bảo mật.</span>
      <div class="noidung">Cập nhật mật khẩu và bảo mật tài khoản của bạn.</div>
      </a>
    </div>

    <div class="<hopto">
      <a class="hopnho" href="#">
      <div style="margin-bottom: 16px;">
        <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 32px; width: 32px; display: block; fill: rgb(96, 182, 181);">
          <img src="https://www.flaticon.com/svg/static/icons/svg/845/845665.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        </svg>
      </div>
      <span class="title">Thanh toán và chi trả.</span>
      <div class="noidung">Tìm hiểu lại các khoản thanh toán, chi trả, phiếu giảm giá,thẻ quà tặng và thuế.</div>
      </a>
    </div>

  </div>

  <div class="hang_cot">
    <div class="<hopto">
      <a class="hopnho" href="#">
      <div style="margin-bottom: 16px;">
        <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 32px; width: 32px; display: block; fill: rgb(96, 182, 181);">
          <img src="https://www.flaticon.com/svg/static/icons/svg/2922/2922789.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        </svg>
      </div>
      <span class="title">Thông báo.</span>
      <div class="noidung">Chọn tùy chọn thông báo và cách bạn muốn được liên hệ.</div>
      </a>
    </div>
    <div class="<hopto">
      <a class="hopnho" href="#">
      <div style="margin-bottom: 16px;">
        <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 32px; width: 32px; display: block; fill: rgb(96, 182, 181);">
          <img src="https://www.flaticon.com/svg/static/icons/svg/607/607554.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        </svg>
      </div>
      <span class="title">Quyền riêng tư và chia sẻ.</span>
      <div class="noidung">Kiểm soát các ứng dụng và được kết nối,nội dung bạn chia sẻ và những người thấy nó.</div>
      </a>
    </div>

    <div class="<hopto">
      <a class="hopnho" href="#">
      <div style="margin-bottom: 16px;">
        <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 32px; width: 32px; display: block; fill: rgb(96, 182, 181);">
          <img src="https://www.flaticon.com/svg/static/icons/svg/1381/1381077.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        </svg>
      </div>
      <span class="title">Lựa chon chung.</span>
      <div class="noidung">Đặt ngôn ngữ,loại tiền tệ và múi giờ mặc định của bạn.</div>
      </a>
    </div>

  </div>

  <div class="hang_cot">
    <div class="<hopto">
      <a class="hopnho" href="#">
      <div style="margin-bottom: 16px;">
        <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 32px; width: 32px; display: block; fill: rgb(96, 182, 181);">
          <img src="https://www.flaticon.com/svg/static/icons/svg/941/941565.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        </svg>
      </div>
      <span class="title">Đi công tác.</span>
      <div class="noidung">Thêm email công việc để hưởng các lợi ích cho chuyến đi công tác.</div>
      </a>
    </div>
    <div class="<hopto">
      <a class="hopnho" href="#">
      <div style="margin-bottom: 16px;">
        <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 32px; width: 32px; display: block; fill: rgb(96, 182, 181);">
          <img src="https://www.flaticon.com/svg/static/icons/svg/3023/3023496.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        </svg>
      </div>
      <span class="title">Các công cụ đón tiếp khách chuyên nghiệp.</span>
      <div class="noidung">Nhận các công cụ chuyên nghiệp nếu bạn quản lý một số chỗ ở trên Airbn.</div>
      </a>
    </div>
    <div class="<hopto">
      <a class="hopnho" href="#">
      <div style="margin-bottom: 16px;">
        <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 32px; width: 32px; display: block; fill: rgb(96, 182, 181);">
          <img src="https://www.flaticon.com/premium-icon/icons/svg/3258/3258504.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        </svg>
      </div>
      <span class="title">Mời bạn bè.</span>
      <div class="noidung">Khi bạn bè của bạn tham gia họ sẽ được giảm giá đến $65 cho một đặt phòng/chỗ đủ điều kiện.</div>
      </a>
    </div>
  </div>
</div>
</div>
