<% provide(:title, @user.name) %>
<div class="hang_cot">
    <section class="user_info">
      <div class="tk">Tài khoản</div>
      <span class="name_user"><%= @user.name%></span>,
      <span class= "email_user"><%= @user.email%></span>
      <span><%=link_to "Truy cập hồ sơ",'#'%></span>
    </section>
</div>

<div class="bao9hop">
  <div class="hop9">
      <div class="<hopto">
        <a class="hopnho" href="#">
          <div style="margin-bottom: 16px;">
            <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 32px; width: 32px; display: block; fill: rgb(96, 182, 181);">
              <img src="https://www.flaticon.com/svg/static/icons/svg/1828/1828413.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            </svg>
          </div>
          <span class="title">Thông tin cá nhân.</span>
          <div class="noidung">Cung cấp thông tin cá nhân và cách chúng tôi có thể liên hệ với bạn.</div>
        </a>
      </div>

      <div class="<hopto">
        <a class="hopnho" href="#">
          <div style="margin-bottom: 16px;">
            <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 32px; width: 32px; display: block; fill: rgb(96, 182, 181);">
              <img src="https://www.flaticon.com/svg/static/icons/svg/3077/3077176.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            </svg>
          </div>
          <span class="title">Đăng nhập và bảo mật.</span>
          <div class="noidung">Cập nhật mật khẩu và bảo mật tài khoản của bạn.</div>
        </a>
      </div>

      <div class="<hopto">
        <a class="hopnho" href="#">
          <div style="margin-bottom: 16px;">
            <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 32px; width: 32px; display: block; fill: rgb(96, 182, 181);">
              <img src="https://www.flaticon.com/svg/static/icons/svg/845/845665.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            </svg>
          </div>
          <span class="title">Thanh toán và chi trả.</span>
          <div class="noidung">Tìm hiểu lại các khoản thanh toán, chi trả, phiếu giảm giá,thẻ quà tặng và thuế.</div>
        </a>
      </div>

      <div class="<hopto">
        <a class="hopnho" href="#">
          <div style="margin-bottom: 16px;">
            <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 32px; width: 32px; display: block; fill: rgb(96, 182, 181);">
              <img src="https://www.flaticon.com/svg/static/icons/svg/2922/2922789.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            </svg>
          </div>
          <span class="title">Thông báo.</span>
          <div class="noidung">Chọn tùy chọn thông báo và cách bạn muốn được liên hệ.</div>
        </a>
      </div>
      <div class="<hopto">
        <a class="hopnho" href="#">
          <div style="margin-bottom: 16px;">
            <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 32px; width: 32px; display: block; fill: rgb(96, 182, 181);">
              <img src="https://www.flaticon.com/svg/static/icons/svg/607/607554.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            </svg>
          </div>
          <span class="title">Quyền riêng tư và chia sẻ.</span>
          <div class="noidung">Kiểm soát các ứng dụng và được kết nối,nội dung bạn chia sẻ và những người thấy nó.</div>
        </a>
      </div>

      <div class="<hopto">
        <a class="hopnho" href="#">
          <div style="margin-bottom: 16px;">
            <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 32px; width: 32px; display: block; fill: rgb(96, 182, 181);">
              <img src="https://www.flaticon.com/svg/static/icons/svg/1381/1381077.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            </svg>
          </div>
          <span class="title">Lựa chon chung.</span>
          <div class="noidung">Đặt ngôn ngữ,loại tiền tệ và múi giờ mặc định của bạn.</div>
        </a>
      </div>

      <div class="<hopto">
        <a class="hopnho" href="#">
          <div style="margin-bottom: 16px;">
            <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 32px; width: 32px; display: block; fill: rgb(96, 182, 181);">
              <img src="https://www.flaticon.com/svg/static/icons/svg/941/941565.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            </svg>
          </div>
          <span class="title">Đi công tác.</span>
          <div class="noidung">Thêm email công việc để hưởng các lợi ích cho chuyến đi công tác.</div>
        </a>
      </div>
      <div class="<hopto">
        <a class="hopnho" href="#">
          <div style="margin-bottom: 16px;">
            <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 32px; width: 32px; display: block; fill: rgb(96, 182, 181);">
              <img src="https://www.flaticon.com/svg/static/icons/svg/3023/3023496.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            </svg>
          </div>
          <span class="title">Các công cụ đón tiếp khách chuyên nghiệp.</span>
          <div class="noidung">Nhận các công cụ chuyên nghiệp nếu bạn quản lý một số chỗ ở trên Airbn.</div>
        </a>
      </div>
      <div class="<hopto">
        <a class="hopnho" href="#">
          <div style="margin-bottom: 16px;">
            <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height: 32px; width: 32px; display: block; fill: rgb(96, 182, 181);">
              <img src="https://www.flaticon.com/premium-icon/icons/svg/3258/3258504.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            </svg>
          </div>
          <span class="title">Mời bạn bè.</span>
          <div class="noidung">Khi bạn bè của bạn tham gia họ sẽ được giảm giá đến $65 cho một đặt phòng/chỗ đủ điều kiện.</div>
        </a>
      </div>
    </div>
  </div>

  <div class="_1m936jew">
    <div class="_15wuypg">
      <a href="/account-settings/personal-info" class="_1cvdx4x">
        <div data-showat="mediumAndAbove">
          <div style="margin-bottom:16px">
            <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" style="height:32px;width:32px;display:block;fill:#60B6B5">
              <path d="m18.66 6.51-14.84 9.65a1 1 0 0 0 .55 1.84h15.62a1 1 0 0 0 1-1v-9.24a1.5 1.5 0 0 0 -2.32-1.26z">
              </path>
              <path d="m9.25 12a1.25 1.25 0 1 1 -1.25-1.25 1.25 1.25 0 0 1 1.25 1.25zm11.75-8h-14a .5.5 0 0 0 0 1h14a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-1.5a.5.5 0 0 0 0 1h1.5a2 2 0 0 0 2-2v-12a2 2 0 0 0 -2-2zm-5 15h-13a1 1 0 0 1 -1-1v-12a1 1 0 0 1 1-1h1a .5.5 0 0 0 0-1h-1a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h13a .5.5 0 0 0 0-1zm-7.17-11.17a4.25 4.25 0 1 0 3.42 4.17 4.21 4.21 0 0 0 -.46-1.92.5.5 0 0 0 -.89.45 3.25 3.25 0 0 1 -.61 3.77 3.67 3.67 0 0 0 -4.56.02 3.25 3.25 0 0 1 2.27-5.57 3.3 3.3 0 0 1 .63.06.5.5 0 1 0 .19-.98zm5.67 3.17h5.5a.5.5 0 0 0 0-1h-5.5a.5.5 0 0 0 0 1zm0 2h5.5a.5.5 0 0 0 0-1h-5.5a.5.5 0 0 0 0 1zm0 2h5.5a.5.5 0 0 0 0-1h-5.5a.5.5 0 0 0 0 1z" fill="#484848">
              </path>
            </svg>
          </div>
        </div>
        <div class="_xcuo0b">
          <div class="_djxl322">
            <div class="_ni9axhe">
              <div data-showat="mediumAndAbove">
                <div>
                  <div class="_36rlri">
                    <span class="_1p0spma2">Thông tin cá nhân
                    </span>
                  </div>
                  <div class="_36rlri" style="vertical-align:middle;margin-top:-2px;margin-left:4px">
                    <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false" style="height:12px;width:12px;fill:currentColor">
                      <path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z" fill-rule="evenodd">
                      </path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-showat="mediumAndAbove">
          <div class="_1xc0f9k">
            <div class="_czm8crp">Cung cấp thông tin cá nhân và cách chúng tôi có thể liên hệ với bạn</div>
          </div>
        </div>
      </a>
    </div>
  </div>
