@import "bootstrap-sprockets";
@import "bootstrap";

.container-fluid
{
  margin-left: 10px;
}

.navbar-nav
{
  float: left;
  margin-left: 5px;
  height: 30px;
  width: 300px;
}
.has-feedback{
  margin-top: 0px;
  margin-left: 10px;
  height: 30px;
  width: 250px;
}

.btn-primary
{
  margin-top: 25px;
  margin-right: 0px;
  float: right;
  background-color: red;
}

.timkiem{
  margin-top: 50px;
  margin:20px;
  width:250px;
  height: 40px;
  margin: 1px 1px 1px 1px;
  border-radius: 20px;
}

.button
{
  width:100px;
  height: 40px;
  border-radius: 30px;
}


.footer {
  border-top: 1px solid #333;
  color: red;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  background-color: orange;
}
