._1tywmry {
  background-color: rgb(247, 247, 247) !important;
  border-top: 1px solid rgb(221, 221, 221) !important;
}
._1s94zl78 {
  max-width: var(--page-shell-max-content-width, 1440px) !important;
  padding-left: 80px !important;
  padding-right: 80px !important;
}
._fyxf74 {
  -moz-box-direction: normal !important;
  -moz-box-orient: horizontal !important;
  flex-direction: row !important;
  padding-top: 48px !important;
  padding-bottom: 48px !important;
  margin-left: -12px !important;
  margin-right: -12px !important;
  display: flex !important;
  // padding: 32px 0px !important;
  box-sizing: border-box;
}
._1l3ys1i{
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  border-bottom: 0px none !important;
  flex: 1 0 0% !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
}
._tfslnm {
  color: rgb(34, 34, 34) !important;
  text-transform: uppercase !important;
  font-size: 12px !important;
  margin-bottom: 0px !important;
  font-family: inherit;
  font-weight: 1000;
  line-height: 1.2;
}
._yuolfv {
  display: block !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  list-style: outside none none !important;
  padding: 0px !important;
  box-sizing: border-box;
}
._wmuyow {
  margin-top: 16px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  flex-basis: 33.3333% !important;
  box-sizing: border-box;
}

._1wsqynx {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
  border-top: 1px solid rgb(221, 221, 221) !important;
  box-sizing: border-box;
}
._1tu1axq {
  -moz-box-pack: justify !important;
  -moz-box-align: stretch !important;
  -moz-box-direction: reverse !important;
  -moz-box-orient: horizontal !important;
  text-align: left !important;
  flex-direction: row-reverse !important;
  align-items: stretch !important;
  justify-content: space-between !important;
  display: flex !important;
}
._1m14l43 {
  margin-bottom: 0px !important;
  display: flex !important;
  box-sizing: border-box;
}
._jro6t0 {
  display: flex !important;
  box-sizing: border-box;
}
._19c5bku:not(last-child) {
  margin-right: 24px !important;
  box-sizing: border-box;
}
._1kejnocv {
  font-family: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
  font-variant: inherit !important;
  font-size: 14px !important;
  line-height: 18px !important;
  color: rgb(34, 34, 34) !important;
  display: flex !important;
  white-space: nowrap !important;
  text-decoration: none !important;
}
._krjbj {
  border: 0px none !important;
  clip: rect(0px, 0px, 0px, 0px) !important;
  clip-path: inset(100%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0px !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  box-sizing: border-box;
}
._14tkmhr {
  margin-right: 8px !important;
  box-sizing: border-box;
}
._bjxj6b {
  font-weight: 600 !important;
  text-decoration: underline !important;
  box-sizing: border-box;
}
._2ms5qb {
  display: block !important;
  margin-left: 32px !important;
  box-sizing: border-box;
}
._115qwnm {
  list-style: outside none none !important;
  margin: 0px !important;
  padding: 0px !important;
  display: flex !important;
  box-sizing: border-box;
}
._kdkpwk:not(:last-child) {
  margin-right: 24px !important;
  box-sizing: border-box;
}
._s7cvp1u {
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
  font-variant: inherit !important;
  line-height: inherit !important;
  color: rgb(34, 34, 34) !important;
  text-decoration: none !important;
}
._zyu73r {
  margin-right: 40px !important;
  flex: 1 1 0% !important;
  box-sizing: border-box;
}
._pd8gea {
  text-align: left !important;
  box-sizing: border-box;
}
._9q359r {
  overflow: hidden !important;
  box-sizing: border-box;
}
._1br4kkl {
  font-size: 14px !important;
  line-height: 18px !important;
  color: rgb(34, 34, 34) !important;
  display: inline-block !important;
  margin-right: 19px !important;
}
._opoa3c {
  display: inline-block !important;
  margin-left: -19px !important;
  box-sizing: border-box;
}
._j8ldew {
  display: inline-block !important;
  box-sizing: border-box;
}
._10wqwyj {
  display: inline-block !important;
  text-align: center !important;
  width: 19px !important;
  box-sizing: border-box;
}
._o06542u {
  font-family: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
  font-variant: inherit !important;
  text-decoration: none !important;
  color: rgb(34, 34, 34) !important;
  font-size: 14px !important;
  line-height: 18px !important;
  box-sizing: border-box;
}
