.container {
  width:100%;
  text-align:center;
  magin: 50px;
  background-image: url("");
  height: 100%;
  width: 100%;
  background-position: center;
}

.anh1{
  float: left;
  margin: 25px 50px 75px 100px;
}
.anh2{
  float: center;
  margin: 25px 50px 75px 100px;
}
.anh3{
  float: right;
  margin: 25px 50px 75px 100px;
}
.logo{
  color: #FF385C !important;
}
.body{
  width: 100%;
}
input[type="search"]{
  border-radius: 30px;
  padding: 20px;
  width: auto;
  height: 46px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px ;
  line-height: 18px;
  font-family: inherit;
  font-weight: 600;
  overflow: visible;
  text-align: inherit;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  border: 1px solid rgb(176, 176, 176);
}
input::placeholder {
  color: #f9495b;
}
form.search-i button {
  width: 45px;
  height: 45px;
  padding: 10px;
  background: #FF385c;
  color: white;
  font-size: 17px;
  border-radius: 100px;
  cursor: pointer;
}
._hnk65xp {
  background-color:#FF385C;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 1.5px;
  position: absolute;
  z-index: 1;
  border-radius: 9px;
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-weight: 800;
  height: 16px;
  left: 100%;
  line-height: 16px;
  margin-left: -14px;
  min-width: 16px;
  padding: 0px 5px;
  text-align: center;
  top: -2px;
  animation-name: keyframe_5k3zne;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.35, 1.1);
}
.btn:hover {
  color: #4169E1!important;
  text-decoration: none;
}
.owl-stage{
  display: flex;
  justify-content: space-between;
  margin: 30px 80px;
}
.bg{
  width: 100%;
  margin-top:-220px;
}
.nav3{
  width: 100%;
  height: 105px;
  background-color: #fff;
}
.ctn-nav{
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  position: fixed!important;
  background-color: #fff;
  z-index: 2;
}
.symbol{
  display: flex;
}
.search{
  margin-left: 220px;
}
.own{
  width: auto;
  height: 42px;
  display: flex;
  margin-right: 6px;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 30px;
  border: 1px solid rgb(176, 176, 176) !important;
  background-color: rgb(255, 255, 255) !important;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  outline: none;
  overflow: visible;
  padding: 12px;
  text-align: inherit;
  text-decoration: none;
  user-select: auto;
  position: relative;
  white-space: nowrap;
  color: rgb(34, 34, 34);
}
.own1{
  margin:auto;
}
.language{
  width :20px;
  height:20px;
  margin: 10px;
}
.sign-i{
  margin: 10px;
  padding: 4px;
  cursor: pointer!important;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}
.sign-u{
  margin: 10px;
  cursor: pointer!important;
  padding: 4px;
}
.modal-content{
  border-radius: 16px!important;
}
.logout{
  margin: 8px;
}
// footer

.footer-sh {
  width: 100%;
  background-color: rgb(247, 247, 247);
  border-top: 1px solid rgb(221, 221, 221);
  box-sizing: border-box;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.col-f{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0px;
  box-sizing: border-box;
}
.col-i{
  margin: 20px;
  width: 200px;
}
.t-col-i{
  font-size: 14px;
  text-transform: uppercase;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-weight: bold;
}
.list{
  display: block;
  list-style: outside none none;
  margin: 0px;
  padding: 0px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.list-i{
  margin-top: 16px;
  font-size: 14px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.text{
  color: rgb(19,34,30);
}
.f-extend{
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 80px;
  margin-right: 80px;
}
.copyright{
  border-top: 1px solid rgb(221, 221, 221);
  display: flex;
  justify-content: space-between;
  padding-top:  20px;
}
.ex-right{
  display: flex;
  justify-content: space-around;
}
.ex-r-i{
  margin-left: 10px;
}
.ex-left{
  display: flex;
  justify-content: space-around;
}
.ex-l-i{
  margin-right: 10px;
}

.mxh115{
  display: flex;
  justify-content: space-around;
  width: 150px;
  list-style: outside none;
}
.w-search{
  width: 285px;
  height: 70px;
  display: flex;
}
.iconp{
  width: 64px;
  height: 64px;
  border-radius: 10px;
}
.plc{
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.pnt1{
  padding-top: 8px;
}
.pnt2{
  padding-top: 8px 0;
  font-size: 18px;
  line-height: 22px;
  max-height: 44px;
  display: -webkit-box;
  color: rgb(34, 34, 34);
  font-weight: 600;
  white-space: pre-line;
}
.pnt3{
  padding: 8px 0;
}
.blkx{
  margin: 64px 80px;

}
.blk1{
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.blk2{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.blk{
  text-decoration: none;
}
.house{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.housei{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.e-where{
  display: flex;
  justify-content: space-around;
  margin-left: 60px;
  margin-right: 60px
}
.e-where-i{

  width: 285px;
  height: 285px;
  margin-left: 16px;
  margin-right: 16px;
}
.iconh{
  flex:1;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.odau{
  font-size: 32px;
  line-height: 36px;
  font-weight:700;
  margin-left:0px;

}
.m-odau{
  margin:45px 0 35px 80px;
}
.obk-dau{
  margin:45px 0;
}
.join{
  display: flex;
  justify-content:space-between;
  margin-left: 80px;
  margin-right: 80px
}
.join-i{
  width: 360px;
  padding-bottom: 30px;
}
