.index-tours-sheet{
  width: auto;
  margin-left: 80px;
  margin-right: 80px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}
.header-sheet{
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
}
.filter{
  padding-top: 20px !important;
  box-sizing: border-box;
}
.filter-m{
  padding-top: 20px !important;
  box-sizing: border-box;

}
.filter-f{
  -webkit-box-align: center !important;
  display: flex !important;
  margin: 0px -24px !important;
  display: flex;
  justify-content:space-between;
}
.buttonx{
  width: 100% !important;
  flex:90%;
  display: flex;
  margin-left: 30px;
}
.map{
  flex:10%;
}
.button{
  cursor: pointer !important;
  text-align: center !important;
  border: 1px solid rgb(176, 176, 176) !important;
  background-color: rgb(255, 255, 255) !important;
  outline: none !important;
  margin: 5px;
  border-radius: 30px !important;
  color: rgb(34, 34, 34) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  padding: 8px 16px !important;
  font-size: 12px !important;
  line-height: 16px !important;
  box-sizing: border-box;
  width: auto;
}
.text-in-b{
  text-align: center !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 18px !important;
}
.judge{
  display: flex;
}
.amount{
  align-self: flex-end;
  font-weight: 800 !important;
  margin-right: 8px !important;
}
.rates{
  align-self: flex-end;
  margin-right: 4px !important;
  box-sizing: border-box;
}
.body-sheet{
  margin: 0 auto !important;
  position: relative !important;
  width: 100% !important;
}
.item-f{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.item-i{
  width: 300px;
  background-color: #eee;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-top: 20px;
}
.content-tour{
  width: 100%;
  margin: 0px auto !important;
  position: relative !important;
  width:auto !important;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.content-tour-i{
  width: 285px;
  box-sizing:border-box;
  padding-top: 30px;
  padding-left: 8px;
  padding-right:8px;
}
.frame-image{
  margin-bottom: 10px !important;
  border-radius: 8px !important;
  box-sizing: border-box;
  padding-top: 66.6667%;
  background: rgb(216, 216, 216);
  contain: strict !important;
  position: relative !important;
  width: 100% !important;
  z-index: 0 !important;
}
.image {
  position: absolute !important;
  inset: 0px !important;
  height: 100% !important;
  width: 100% !important;
}
.star{
  text-align: left;
}
.text{
  font-weight: bold;
}
.infor{
  font-size: 16px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
a:link, a:visited {
  color: rgb(34, 34, 34);
  text-decoration:none!important;
  cursor: pointer ;
}
a:link:active, a:visited:active {
  color: green;
}
.sign-u .a:hover{
  background: rgb(261, 261, 261);
}
.footer-sheet{
  margin-top: 80px;
  position: relative !important;
  width: 100%;
}
.paginate{
  float: right;
  margin-right: 30px;
}
.m-title{
  margin-left: 10px;
  font-size: 22px !important;
  line-height: 26px !important;
  font-weight: 600 !important;
}
.s-title{
  font-size: 16px !important;
  line-height: 24px !important;
  margin: 10px;
}
.b-title{
  font-size: 36px !important;
  line-height: 24px !important;
  margin: 10px;
}
.tax{
  display: flex;
}
.tax-s{
  margin: auto;
}
