.fr4mbd{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding-right: 24px;
  padding-left: 24px;
}
._1yrl4d7p{
  margin: 20px;
}
.sh3etp49{
margin-left: auto;
margin-right: auto;
margin-bottom: 40px;
max-width: 1080px;
padding-right: 24px;
padding-left: 24px;

}
.b0dii9o{
padding-left: 8px;
padding-right: 8px;
position: relative;
box-sizing: border-box;
}
.b0xy87{
display: flex;
flex-wrap: wrap;
box-sizing: border-box;
}
._1m936ew{
width: 33.33333333333333%;
float: left;
padding-left: 8px;
padding-right: 8px;
position: relative;
box-sizing: border-box;

}
._15wihn{
display: flex;
height: 100%;
box-sizing: border-box;
}
.lynt0{
cursor: pointer!important;
display: block;
width: 100%;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
padding:0 24px 24px 24px;

margin: 8px 0;
border-radius: 8px;
text-decoration: none;
font-size: 100%;
}
.t49yc0l{
  box-sizing: border-box;
  margin-bottom: 16px;
}
.t1tle{
margin: 8px 0;
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.375em;
color: #484848
}
.cctt9o{
margin: 8px 0;
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.375em;
color: #484848;
}
