
.noidung {
    margin: 0px !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.375em !important;
    color: #484848 !important;
    box-sizing: border-box;
}
.title{
    margin: 0px !important;
    overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 18px !important;
    font-weight: 800 !important;
    line-height: 1.44444em !important;
    color: rgb(72, 72, 72) !important;
    box-sizing: border-box
}
.tk {
    margin: 0px !important;
    overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 32px !important;
    font-weight: 800 !important;
    line-height: 1.125em !important;
    color: rgb(72, 72, 72) !important;
}
.name_user {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1.375em !important;
    color: #484848 !important;
}

.email_user {

    margin: 0px !important;
    overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.375em !important;
    color: rgb(72, 72, 72) !important;
}
.ho_so {
    margin: 0px !important;
    overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1.375em !important;
    color: inherit !important;
}

.hopnho{
   display:block !important;
   width:100% !important;
   box-shadow:0 2px 8px rgba(0, 0, 0, 0.16) !important;
   padding:24px !important;
   margin:8px 0 !important;
   border-radius:8px !important;
   text-decoration:none !important;


}
.hopto {
    height: 100% !important;
    display: flex !important;
    box-sizing: border-box;
}

.hang_cot{
  width: 33.3333% !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  min-height: 1px !important;
  position: relative !important;

}
.user_infor{
  margin-top: 64px;
  margin-bottom: 56px;
  margin-left: 16px;
  box-sizing: border-box;

}
.hop9{
    display: flex !important;
    flex-wrap: wrap !important;
    box-sizing: border-box;
}
// ._1rnz84d
.bao9hop {
    padding-left: 8px !important;
    padding-right: 8px !important;
    min-height: 1px !important;
    position: relative !important;
    box-sizing: border-box;
}
