<footer class="footer">
<div class="footerLg__bottom">
  <div class="container">
    <h2><p class="footerLg__copyright">Bản quyền © 2021 HPM</p></h2>
    <div class="footerLg__social">
      <a href="https://www.facebook.com/vntrip" target="_blank">
        <img src="https://statics.vntrip.vn/images/footer-fb.png" alt="fb">
        <span>Facebook</span>
      </a>
      <a href="https://www.instagram.com/vntrip.vn/" target="_blank">
        <img src="https://statics.vntrip.vn/images/footer-insta.png" alt="instagram">
        <span>Instagram</span>
      </a>
      <a href="https://www.vntrip.vn/cam-nang" target="_blank" class="twitter">
        <img src="https://statics.vntrip.vn/images/footer-blog.png" alt="blog">
        <span>Blog du lịch</span>
      </a>
    </div>
  </div>
</div>
</footer>
